html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body {
  background-image: url('/image/background.jpg');
}

[data-bs-theme="dark"] body {
  background-image: none;
  background-color: black;
}

.form-signin {
  background-color: #40E4D3;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.form {
  background-color: #CAFFDA;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

[data-bs-theme="dark"] .form-signin {
  background-color: #202020;
}

[data-bs-theme="dark"] .form {
  background-color: #303030;
}

[data-bs-theme="dark"] h1 {
  color: white;
}

[data-bs-theme="dark"] .btn.btn-primary {
  background-color: black;
  border: none;
}

[data-bs-theme="dark"] .btn.btn-secondary {
  background-color: white;
  color: black;
}

[data-bs-theme="dark"] .label {
  color: white;
}
